body, html {
  width: 100%;
  height: 100%;
  font-family: Apple Chancery, cursive;
  margin: 0 auto;
  display: block;
  text-align: center;
  
}



.container, h1 {
  width: 80%;
  max-width: 600px;
  min-width: 400px;
  padding: 10px;
  margin: 10px auto;
}

h4 {
  width: fit-content;
  display: inline-block;
  padding: 5px;
  margin: 20px 0 0 0;
  
  
}

.amiable {
  border: 1px solid #22aa44;
  box-shadow:  -1px 1px #22aa44, -2px 2px #22aa44, -3px 3px #22aa44, -4px 4px #22aa44, -5px 5px #22aa44;
  background-color: #44cc66;
  background: linear-gradient(to right, #118833, #66ee88);
}

.indifferent {
  border: 1px solid #dddd22;
  box-shadow:  -1px 1px #dddd22, -2px 2px #dddd22, -3px 3px #dddd22, -4px 4px #dddd22, -5px 5px #dddd22;
  background-color: #dddd22;
  background: linear-gradient(to right, #770, #aa0)
}

.dubious {
  border: 1px solid #dd4444;
  box-shadow:  -1px 1px #dd4444, -2px 2px #dd4444, -3px 3px #dd4444, -4px 4px #dd4444, -5px 5px #dd4444;
  background-color: #dd4444;
  background: linear-gradient(to right, #700a00, #66ee88)
}

.indifferent {
  background-color: #dddd22;
}

.dubious {
  background-color: #dd4444;
}

.column {
  width: 30%;
  display: inline-block;
}

.small {
  width: 100%;
  height: 100%;
  border-style: solid;
}

.med {
  width: 203.5%;
  border-style: solid;
}

.large {
  width: 303%;
  border-style: solid;
}
